p Hi,
p Your email address has changed.
p Please click on the following link or copy and paste it into the address bar of your browser to verify your new email address: 
a(href=hostname + '/account/verify/' + token + '/email') #{hostname}/account/verify/#{token}/email
br


p Thanks, 
| All at #{sitename}